# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django migrations
*/migrations/
!*/migrations/__init__.py

# SQLite database
*.sqlite3

# Logs
*.log

# Environment variables
.env

# Virtual environment
venv/
.env/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# MacOS
.DS_Store

#Cursor
.cursor/

#other


